* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Signika', sans-serif;
  font-size: 15px;
}

#sitoWeb {
  min-height: 100vh;
  width: 100vw;
}
/* cose generiche */
.whiteFont {
  color: #ffffff;
}

.balticSeaFont { /*nero*/
  color: #1c1b21;
}
.balticSeaBackground { /*nero*/
  background-color: #1c1b21;
}
.blackBackground { /*non so perche ma baltic sea background viene piu chiaro di quello che dovrebbe tenendo conto che ho anche un file con i colori da confrontare non ho capito come mai quindi finche non risolvo uso un nero normale*/
  background-color: black;
}

.sharkBackground { /*quasi nero*/
  background-color: #19191f;
}


.bigStone { /*blu scuro*/
  color: #1b304b;
}

.cyanFont {
  color: #00ddff;
}

.blackHazeBackgroundackground { /*grigino chiarisimo*/
  background-color: #f6f7f7;
}

.dustyGrayFont {/*grigio scuro*/
  color: #949494;
}

.steelBlueFont {/*blue meno scuro di bigstone*/
color: #4876b5;
}

.width50 {
  width: 50%;
}

.fontSize50 {
  font-size: 50px;
}

.fontSize40 {
  font-size: 40px;
}

.fontSize30 {
  font-size: 30px;
}

.fontSize20 {
  font-size: 20px;
}

.marginLeft20 {
  margin-left: 20px;
}

.flexColumnCenterCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button {
  cursor: pointer;
}

.cyanbutton {
  border-radius: 50px;
  border: none;
  padding: 10px 20px 10px 20px;
  background-color: #5ddecc;
  color: white;
}

.dropitem {
  position: relative;
}

.dropdown {
  display: none;
  position: absolute;
  top: 80px;
  left: 0px;
  min-width: 150%;
}
.dropdownUl {
  display: flex;
  flex-direction: column;
}

.hiddendiv {display:none;}
.visiblediv {display:block;}

/* INIZIO STRUTTURA */
header{
  height: 80px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
}

.headerLeft {
  width: 40%;
  margin-left: 5%;
}

.headerRight > nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.headerRight {
  width: 60%;
  margin-right: 10%;
}

.headerRight ul{
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.headerRight li {
  height: 80px;
}

.headerRight a {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  text-decoration: none;
}

.headerRight a:hover {
  color: #1b304b;
  background-color: #f6f7f7;
}

.buttonHeaderContainer {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
}


a:hover .fa-plus {
  color: #1b304b;
}

/* ----------------------------------------------- */
/*  1 planisfero right people  */
.one {
  margin-top: 80px;
}

.jumbotron {
  position: relative;
  text-align: center;
}

.jumbotron > img {
  width: 100%;   /*prima c'era max-width. layout rotto oltre i 2000px*/
  height: 100%;
}

.jumbotext {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* ----------------------------------------------- */
/*  2 stisciolina grigina con 6 loghi  */
.two ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: space-between;
}

/* ----------------------------------------------- */
/*  3 cloud based finance  */
.three {
  background-color: #ffffff;
  width: 100%;
  display: flex;
  justify-content: center;
}

.containerThree {
  display: flex;
  justify-content: space-between;
  width: 85%;
}

.boxLeft {
  display: flex;
  justify-content: center;
  align-items: center;
}
.textContainer3 {
  width: 600px;
  height: 457px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}



.righina {
  width: 100px;
  border: #1b304b 1px solid;
}


.boxRight {
  display: flex;
  justify-content: center;
  align-items: center;
}

.textContainer3 * {
  margin-bottom: 20px;
}

/* ----------------------------------------------- */
/*  4 specialty services  */
.four {
  background-color: #f6f7f7;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* ----------------------------------------------- */
/* 5 making an impact */
.five {
  display: flex;
  background-color: #f6f7f7;
}

.sec5left {
  width: 34%;
}

.five img {
  height: 500px;
  width: auto;
}

.sec5right {
  width: 66%;
  position: relative;
  background-color: white;
}

.sec5left {
  position: relative;
  text-align: center;
}


.jumbotext {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sec5right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec5Rcontainer {
  width: 90%;
  height: 90%;
}

.sec5rTop {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 50%;
}

.sec5rbottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 50%;
}

/* ----------------------------------------------- */
/* 6 client feedback */
.six {
  height: 250px;
}

.six > div {
  margin: 10px;
}
/* ----------------------------------------------- */
/* 7 i quattro quadrati (event elevate bonjour cafe...) */
.seven {
  border: 1px solid #949494;
  height: 350px;
}

.seven * {
  text-align: center;
}

.sec7top {
  display: flex;
  height: 70%;
}

.sec7bottom {
  display: flex;
  height: 30%;
}

.boxSection7 {
  width: calc(100% / 4);
  border-right: 1px solid #949494;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.boxSection7:last-child {
  border-right: none;
}

.sec7text {
  margin-left: 30px;
  margin-right: 30px;
}

.sec7andreRipetitivo {
  width: calc(100% / 4);
  border-right: 1px solid #949494;
  border-top: 1px solid #949494;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sec7andreRipetitivo:last-child {
  border-right: none;
}
.sec7andreRipetitivo > div:first-child {
  padding-bottom: 2px;
}

.sec7andreRipetitivo > div:last-child {
  padding-top: 2px;
}

/* ----------------------------------------------- */

/* 8 ready to talk */
.jumbotext > div {
  margin-bottom: 20px;
}
/* ----------------------------------------------- */
/* FOOTER */
footer {
  height: 400px;
}

footer ul {
  list-style: none;
}
.footerA {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fAcontainer {
  display: flex;
  height: 70%;
  width: 90%;
}

.fAcontainer > div {
  width: calc(100% / 4);
  display: flex;
  flex-direction: column;
}

.fAcontainer * {
  margin-bottom: 15px;
}


.footerB {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerBcontainer {
  width: 90%;
}

.footerBcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footerBcontainer ul {
  display: flex;
}

.fBcLeft li {
  margin-left: 5px;
}

.fBcRight li {
  margin-left: 30px;
}
